.popupContainer {
    display: flex;
    gap: 20px;

    img {
        width: 64px;
        height: 48px;
        object-fit: cover;
        border-radius: 5px;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .bed,
        .bath {
            display: flex;
            gap: 5px;
            align-items: center;
            font-size: 14px;
            color: #4b5563;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}
